Repository HYF-Class19/agile-development-hyf-group-3, pull requests merged in 2022-08, with the labels that each got.

#2 Planning: added files
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
Labels: planning

#5 fixed the bug in planning
  README.md
  planning/communication-plan.md
  planning/development-strategy.md
  planning/retrospective.md
Labels: bug, planning

#6 Updating Planning Files - User-personas & Backlog
  planning/backlog.md
  planning/user-personas.md
Labels: planning

#9 updating development-strategy
  planning/development-strategy.md
  planning/user-personas.md
Labels: planning

#10 updated backlog.md
  planning/backlog.md
Labels: planning

#11 updating-development-strategy.md
  planning/development-strategy.md
Labels: planning

#45 add the folder and files needed to start coding
  pages/about.html
  pages/images/logo.svg
  pages/index.html
  pages/program.html
  pages/style.css
  pages/volunteer.html
Labels: planning

#47 add 1. general tags and style to all files
  pages/about.html
  pages/index.html
  pages/program.html
  pages/style.css
  pages/volunteer.html
Labels: css, html

#49 planning: updated design.md and public folder
  planning/design.md
  public/assets/design-about.png
  public/assets/design-index-html.png
  public/assets/design-the-program.png
  public/assets/design-volunteer.png
Labels: planning

#50 02 logo
  pages/index.html
  pages/style.css
Labels: css, html

#65 update user personas
  planning/user-personas.md
Labels: planning

#66 add 03 navbar CSS and HTML
  pages/index.html
  pages/style.css
Labels: css, html

#67 updated index.html and added main section
  pages/images/home-header-hyf.jpg
  pages/index.html
  pages/style.css
Labels: css, html

#68 05 about program
  pages/images/our-program.jpg
  pages/index.html
  pages/style.css
Labels: css, html

#69 Impact of HYF
  pages/index.html
  pages/style.css
Labels: css, html

#71 apply header to all html files
  pages/about.html
  pages/another-page.html
  pages/program.html
  pages/volunteer.html
Labels: html

#73 fix lint css not working when we check offline
  package.json
Labels: bug

#74 footer section added to index.html and style.css
  pages/index.html
  pages/style.css
Labels: css, html

#75 update retrospictive.md
  planning/retrospective.md
Labels: planning

#78 12. HYF partners
  pages/images/Bruxelles-Formation_logo.png
  pages/images/DCD_logo_regular.png
  pages/images/DSJC-Member-NEGATIVE.png
  pages/images/EPITECH-TECHNOLOGY.png
  pages/images/UXAntwerp_logo.png
  pages/images/agoria.png
  pages/images/antwerp-stad.jpg
  pages/images/artevelde-hogeschool.svg
  pages/images/axxes.png
  pages/images/bruxelles-emploi.svg
  pages/images/digital-belgium.svg
  pages/images/duo_logo.png
  pages/images/microsoft.svg
  pages/images/open-knowledge.svg
  pages/images/open-recognition.png
  pages/images/print-simple.svg
  pages/images/vbo_feb.png
  pages/index.html
  pages/style.css
Labels: css, html

#79 Footer added to all html pages and fixed pages issues
  pages/about.html
  pages/index.html
  pages/program.html
  pages/style.css
  pages/volunteer.html
Labels: css, html

#81 09 requirements
  pages/images/circle-check-regular.svg
  pages/program.html
  pages/style.css
Labels: css, html

#82 updating the program file with footer and nav
  pages/program.html
  pages/style.css
Labels: bug

#83 Add a volunteer decription and apply section
  pages/program.html
  pages/style.css
  pages/volunteer.html
Labels: css, html

#84 Add more details about HYF program
  pages/images/program-images/css.svg
  pages/images/program-images/html.svg
  pages/images/program-images/javascript.svg
  pages/images/program-images/nodejs.svg
  pages/images/program-images/react.svg
  pages/images/program-images/sql.svg
  pages/program.html
  pages/style.css
Labels: css, html

#85 Correct errors on images by adding ./images
  pages/program.html
  pages/style.css
Labels: css, html

#88 updated Readme file
  README.md
  planning/screenshot-hyf-theprogrampage.png
  planning/screenshot-hyf.png
Labels: planning

#90 Add volunteers benefits for HYF programme
  pages/images/volunteer/board.svg
  pages/images/volunteer/brain.svg
  pages/images/volunteer/earth.svg
  pages/images/volunteer/knowledge.svg
  pages/style.css
  pages/volunteer.html
Labels: css, html

#93 00 settings
  .cspell.json
  pages/index.html
  pages/style.css
Labels: bug

#91 update 16. Donation information
  pages/index.html
  pages/style.css
Labels: css, html

#94 Add contact section and map
  pages/index.html
  pages/style.css
Labels: css, html

#95 19 Details about career
  .vscode/settings.json
  pages/images/career-skills.jpg
  pages/program.html
  pages/style.css
Labels: css, html

#96 About Hack your Future
  pages/about.html
  pages/images/about/community.svg
  pages/images/about/connection.svg
  pages/images/about/diversity.svg
  pages/images/about/hands.svg
  pages/images/about/strong.svg
  pages/style.css
Labels: css, html

#102 history section added to about.html and updated program.html
  pages/about.html
  pages/images/about/history-image.jpg
  pages/program.html
  pages/style.css
Labels: css, html

#105 22 vision2
  pages/about.html
  pages/images/about/graduation.jpg
  pages/images/about/mission.svg
  pages/images/about/vision.svg
  pages/style.css
Labels: css, html
